Repository luke-rucker/lukerucker.com-old: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{js,jsx,json,md,ts,tsx}": "prettier --write"
}

persist kv data locally
  package.json
Due: prettier --write

cleanup home and about pages
  app/routes/__public/about.tsx
  app/routes/__public/index.tsx
Due: eslint --cache --fix, prettier --write

stop awaiting page view recordings
  app/components/page-heading.tsx
  app/root.tsx
  app/routes/__public.tsx
  app/routes/__public/about.tsx
  app/routes/__public/bookmarks.tsx
  app/routes/__public/index.tsx
  app/routes/__public/posts/$slug.tsx
  app/routes/__public/posts/index.tsx
  app/utils/page-views.server.ts
Due: eslint --cache --fix, prettier --write

Create LICENSE
  LICENSE
Due: none

bookmarks can be created and listed in admin and public site
  app/components/anchor.tsx
  app/components/article.tsx
  app/components/header-section.tsx
  app/components/page-heading.tsx
  app/db/bookmarks.server.ts
  app/db/page-views.server.ts
  app/db/posts.server.ts
  app/root.tsx
  app/routes/__public/about.tsx
  app/routes/__public/bookmarks.tsx
  app/routes/__public/index.tsx
  app/routes/admin.tsx
  app/routes/admin/bookmarks.tsx
  app/routes/admin/bookmarks/index.tsx
  app/routes/admin/bookmarks/new.tsx
  app/routes/admin/posts/index.tsx
  app/routes/admin/posts/new.tsx
  app/utils/cache.server.ts
  app/utils/hashes.server.ts
  app/utils/markdown.server.ts
  package.json
  public/favicon.ico
Due: eslint --cache --fix, prettier --write

bookmarks can be deleted
  app/components/navbar.tsx
  app/db/bookmarks.server.ts
  app/routes/__public/bookmarks.tsx
  app/routes/admin.tsx
  app/routes/admin/bookmarks/$id.ts
  app/routes/admin/bookmarks/index.tsx
  app/routes/admin/bookmarks/new.tsx
  app/routes/admin/posts/$slug/edit.tsx
  app/routes/admin/posts/new.tsx
  app/routes/login.tsx
  app/routes/logout.tsx
Due: eslint --cache --fix, prettier --write

convert logout route to action
  app/components/admin-toolbar.tsx
  app/components/logout-button.tsx
  app/components/navbar.tsx
  app/routes/admin.tsx
  app/routes/logout.tsx
Due: eslint --cache --fix, prettier --write

add social links
  app/components/social-links.tsx
  app/routes/__public.tsx
  app/routes/admin/posts/new.tsx
Due: eslint --cache --fix, prettier --write

improve responsiveness of admin toolbar
  app/components/admin-toolbar.tsx
Due: eslint --cache --fix, prettier --write

improve responsiveness of public footer
  app/routes/__public.tsx
Due: eslint --cache --fix, prettier --write

setup staging and production deployments
  .env.example
  app/constants.ts
  app/root.tsx
  app/routes/__public/index.tsx
  app/routes/admin.tsx
  app/types/index.d.ts
  app/utils/session.server.ts
  bindings.d.ts
  package-lock.json
  package.json
  wrangler.toml
Due: eslint --cache --fix, prettier --write

stop displaying page views on public pages
  app/routes/__public.tsx
Due: eslint --cache --fix, prettier --write

add staging deployment action
  .github/workflows/staging-deployment.yml
Due: none

add production deployment action
  .github/workflows/production-deployment.yml
Due: none

fix deployment actions yml syntax
  .github/workflows/production-deployment.yml
  .github/workflows/staging-deployment.yml
Due: none

no really, fix yml syntax in deployment actions
  .github/workflows/production-deployment.yml
  .github/workflows/staging-deployment.yml
Due: none

install deps in deployment actions before publishing
  .github/workflows/production-deployment.yml
  .github/workflows/staging-deployment.yml
Due: none

fix bookmark url text overflow on public site
  app/routes/__public/bookmarks.tsx
Due: eslint --cache --fix, prettier --write

update readme, switch to concurrently for running dev processes
  README.md
  package-lock.json
  package.json
Due: prettier --write

update readme
  README.md
Due: prettier --write

delete constants.ts
  app/constants.ts
Due: eslint --cache --fix, prettier --write

change default issue branch to develop
  .github/issue-branch.yml
Due: none

fix environment links in readme
  README.md
Due: prettier --write

improve responsiveness of typography and site in general
  app/components/logout-button.tsx
  app/components/navbar.tsx
  app/components/page-heading.tsx
  app/components/post-list.tsx
  app/routes/__public.tsx
  app/routes/__public/about.tsx
  app/routes/__public/bookmarks.tsx
  app/routes/__public/index.tsx
  app/routes/__public/posts/$slug.tsx
  app/routes/admin/bookmarks/index.tsx
Due: eslint --cache --fix, prettier --write

add aria-labels to navs other than main
  app/components/admin-toolbar.tsx
  app/components/breadcrumbs.tsx
Due: eslint --cache --fix, prettier --write

improve some html semantics
  app/components/page-heading.tsx
  app/routes/__public/bookmarks.tsx
  app/routes/__public/index.tsx
  app/routes/__public/posts/index.tsx
Due: eslint --cache --fix, prettier --write

tweak typography color scale
  app/components/admin-toolbar.tsx
  app/components/date-display.tsx
  app/components/header-section.tsx
  app/components/logout-button.tsx
  app/components/navbar.tsx
  app/components/post-list.tsx
  app/routes/__public/bookmarks.tsx
  app/routes/__public/posts/$slug.tsx
  app/routes/admin/bookmarks/index.tsx
Due: eslint --cache --fix, prettier --write

make primary nav item same color as rest of primary typography
  app/components/navbar.tsx
Due: eslint --cache --fix, prettier --write

fix button focus styling, add link variant to button component
  app/components/forms/button.tsx
  app/components/logout-button.tsx
  app/routes/login.tsx
Due: eslint --cache --fix, prettier --write

fix page views not being recorded on view post page
  app/components/logout-button.tsx
  app/routes/__public/about.tsx
  app/routes/__public/bookmarks.tsx
  app/routes/__public/index.tsx
  app/routes/__public/posts/$slug.tsx
  app/routes/__public/posts/index.tsx
  app/utils/cache.server.ts
  app/utils/page-views.server.ts
Due: eslint --cache --fix, prettier --write

rename IsLuke context
  app/contexts/is-logged-in-context.tsx
  app/contexts/is-luke-context.tsx
  app/root.tsx
  app/routes/__public.tsx
  app/routes/admin.tsx
  app/routes/login.tsx
  app/utils/session.server.ts
Due: eslint --cache --fix, prettier --write

remove IsLukeContext
  app/contexts/is-luke-context.tsx
  app/root.tsx
  app/routes/__public.tsx
Due: eslint --cache --fix, prettier --write

[wip] facelift
  app/components/alert.tsx
  app/components/navbar.tsx
  app/root.tsx
  app/routes/__public.tsx
  app/routes/__public/index.tsx
  app/routes/admin/index.tsx
  app/routes/admin/page-views.tsx
  app/routes/admin/posts/$slug.tsx
  package-lock.json
  package.json
  styles/app.css
  tailwind.config.js
Due: eslint --cache --fix, prettier --write
